<div class="wrapper">
  <div class="grid-container species">
    <div class="grid-container__sidebar">
      <app-filter-panel
        *ngIf="filtersOptions"
        [filters]="filtersOptions"
        (filterApplied)="retrieveAndSetParams(getExperimentsData)"
      ></app-filter-panel>
    </div>
    <div class="grid-container__content __w-content">
      <h1 class="species__title">
        Mus musculus
      </h1>
      <div class="species__plot">
        <plotly-plot
          [data]="plotData"
          [layout]="plotLayout"
          (autoSize)="windowSizeChanged"
          [useResizeHandler]="true"
          [style]="{position: 'relative', width: '100%', height:'auto'}">
        </plotly-plot>
      </div>

      <app-organism-table
        [drugsData]="experimentsList"
        [layout]="feedLayout"
        (checkedIds)="setPlotData($event)">
      </app-organism-table>

      <mat-paginator
        *ngIf="experimentsList.length !== 0"
        [length]="experimentsPageOptions.objTotal"
        [pageSize]="experimentsPageOptions.pagination.pageSize"
        [pageSizeOptions]="null"
        (page)="pageEventHandler($event)"
        class="species__paginator"
        aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>




