<form class="filters-panel" [formGroup]="filtersForm">
  <div class="filters-panel__select">
    <mat-form-field appearance="fill">
      <mat-label>Intervention type</mat-label>
      <mat-select formControlName="interventionTypeSelect"
                  [(ngModel)]="selectedInterventionType"
                  [compareWith]="compareSelectValues"
                  (selectionChange)="apply('interventionType', $event, pickInterventions)">
        <mat-option [value]="">not set</mat-option>
        <mat-option *ngFor="let i of interventionTypes"
                    [value]="i.name">{{ i.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Intervention</mat-label>
      <mat-select formControlName="interventionsSelect"
                  multiple
                  [disabled]="interventions.length === 0"
                  [(ngModel)]="selectedInterventions"
                  [compareWith]="compareSelectValues"
                  (selectionChange)="apply('intervention', $event)">
        <mat-option *ngFor="let i of interventions"
                    [value]="i.id">{{ i.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Species</mat-label>
      <mat-select formControlName="speciesSelect"
                  [(ngModel)]="selectedSpecies"
                  [compareWith]="compareSelectValues"
                  (selectionChange)="apply('species', $event)">
        <mat-option [value]="">not set</mat-option>
        <mat-option *ngFor="let i of species"
                    [value]="i.name">{{ i.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="filters-panel__slider">
    <label>Average lifespan change (%)</label>
    <div class="slider__range-wrapper">
      <app-slider
        [minValue]="avgLifespan.min"
        [maxValue]="avgLifespan.max"
        [sliderStep]="slidersStep"
        [minCurrentValue]="avgLifespan.currentMin"
        [maxCurrentValue]="avgLifespan.currentMax"
        (minCurrentValueChange)="applyRange('avgLifespan', avgLifespan, 'min', $event)"
        (maxCurrentValueChange)="applyRange('avgLifespan', avgLifespan, 'max', $event)"
      ></app-slider>
    </div>
    <div class="slider__fields-row">
      <input
        matInput
        type="text"
        formControlName="avgLifespanMinInput"
        class="field"
        readonly
        [(ngModel)]="avgLifespan.currentMin">

      <input
        matInput
        type="text"
        formControlName="avgLifespanMaxInput"
        class="field"
        readonly
        [(ngModel)]="avgLifespan.currentMax">
    </div>
  </div>

  <div class="filters-panel__slider">
    <label>Max lifespan change (%)</label>
    <div class="slider__range-wrapper">
      <app-slider
        [minValue]="maxLifespan.min"
        [maxValue]="maxLifespan.max"
        [sliderStep]="slidersStep"
        [minCurrentValue]="maxLifespan.currentMin"
        [maxCurrentValue]="maxLifespan.currentMax"
        (minCurrentValueChange)="applyRange('maxLifespan', maxLifespan, 'min', $event)"
        (maxCurrentValueChange)="applyRange('maxLifespan', maxLifespan, 'max', $event)"
      ></app-slider>
    </div>
    <div class="slider__fields-row">
      <input
        matInput
        type="text"
        formControlName="maxLifespanMinInput"
        class="field"
        readonly
        [(ngModel)]="maxLifespan.currentMin">

      <input
        matInput
        type="text"
        formControlName="maxLifespanMaxInput"
        class="field"
        readonly
        [(ngModel)]="maxLifespan.currentMax">
    </div>
  </div>
</form>
